---
import PageName from "../../components/PageName/PageName.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";
import StandartLayout from "../../layouts/StandartLayout.astro";
---

<StandartLayout>
  <PageName title="Структура" />
  <AboutPageLayout>
    <p>
      Структура Полномочного представительства Республики Тыва в г. Москве
      утверждена // постановлением Правительства Республики Тыва от 11.06.2008 №
      362 (в ред. // постановления Правительства Республики Тыва 31.05.2022 №
      327)
    </p>
    <img src="/structure.svg" alt={"some"} />
  </AboutPageLayout>
</StandartLayout>
