@media (max-width: 992px) {
  .card {
    .body {
      flex-direction: column !important;

      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.card {

  border: 1px solid;
  border-radius: 15px;
  margin: 15px 0 15px 0;

  .header {
    padding: 20px;

    background: rgba( 0, 0, 0, 0.03);
  }

  .body {
    display: flex;
    flex-direction: row;

    .content {
      padding: 20px;

      display: flex ;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;

    padding: 20px;
    background: rgba( 0, 0, 0, 0.03);
  }
}

.page {
  
}